In [14]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [25]:
df.marathon = read.csv('../data/marathon.csv')
df.marathon |> head()

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

# Filter

- the filter operation does exactly what you expect given its name.

In [1]:
#e.g.

#iris |> filter(Species == 'setosa', Petal.Width > 0.2)

ERROR: Error in match.arg(method): object 'Petal.Width' not found

- The syntax for the `equals` operator in R is `==`.
- Greater than (`>` or `>=`) and less than (`<` or `<=`) are intuitive.
- You can fitler on multiple columns by adding arguments to the filter operation.

Filter the marathon data to just the runners from Kenya.

In [16]:
df.marathon |> 
filter (country == 'Kenya') |> 
head ()

  year name                      country time       race.time MF
1 2019 Lawrence Cherono          Kenya   2H 7M 57S  2.132500  Men's
2 2017 Geoffrey Kirui            Kenya   2H 9M 37S  2.160278  Men's
3 2012 Wesley Korir              Kenya   2H 12M 40S 2.211111  Men's
4 2011 Geoffrey Mutai            Kenya   2H 3M 2S   2.050556  Men's
5 2010 Robert Kiprono Cheruiyot  Kenya   2H 5M 52S  2.097778  Men's
6 2008 Robert Kipkoech Cheruiyot Kenya   2H 7M 46S  2.129444  Men's
  country.simple
1 Kenya
2 Kenya
3 Kenya
4 Kenya
5 Kenya
6 Kenya

# Select

- select let's you include/exclude columns.

In [4]:
# e.g.

# iris |> select(Species, Sepal.Length) |> head()

Select just the columns that represent runner names and country from the marathon data.

In [17]:
df.marathon |> 
    select(name, country) |>
        head()

  name                       country
1 Lawrence Cherono           Kenya
2 Yuki Kawauchi              Japan
3 Geoffrey Kirui             Kenya
4 Lemi Berhanu               Ethiopia
5 Lelisa Desisa              Ethiopia
6 Mebrahtom "Meb" Keflezighi United States

# Putting it all together

Use `group_by`, `filter`, and `summarize` to show the best race times for US and Kenyan women runners. (*Hint: use the `%in%` operator to filter by two values for one column*). Fill in the missing pieces below:

In [21]:
df.marathon |>
filter(MF == "Women's", country %in% c('Kenya', 'United States')) |>
group_by(country) |>
summarize(best.race.time = min(race.time)) |> 
head()

  country       best.race.time
1 Kenya         2.345278
2 United States 2.378611

Use `filter`, `select`, `head`, and `arrange` to show the best women's race times in the data and the country of the runners. Fill in the missing pieces below:

In [26]:
df.marathon |>
filter(MF == "Women's") |>
select(country, year, race.time) |>
arrange(race.time) |>
head(1)

  country  year race.time
1 Ethiopia 2014 2.333056

What's the best race time ever for a US man?

In [28]:
df.marathon |>
filter(MF == "Men's", country == 'United States') |>
arrange(race.time) |>
head(1)

  year name                       country       time      race.time MF
1 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S 2.143611  Men's
  country.simple
1 United States

How does the best US men's time compare the the best race time in the data overall?

# Bonus

For all countries with at least 5 winners in the men's category, which country has the best median race time in the men's category? (*Hint: use the `n()` function to count the winners by country.)

In [40]:
# This should get you started. It adds a column "N.winners" that represents the
# total winners from the runner's country.

df.marathon |>
    filter(MF == "Men's") |>
    group_by(country) |>
    mutate(N.winners = n()) |>
    ungroup() |>
    filter(N.winners > 5) |> 
    group_by(country, N.winners)|>
    summarize(median_race_time = median(race.time))|> 
    arrange (median_race_time) |>
    head()

`summarise()` has grouped output by 'country'. You can override using the `.groups` argument.

  country       N.winners median_race_time
1 Kenya         22        2.155139
2 Ethiopia       6        2.163750
3 Japan          9        2.275833
4 Finland        7        2.348333
5 United States 44        2.478889
6 Canada        16        2.503472

In [39]:
df.marathon |> 
    filter (MF == "Men's") |> nrow()

[1] 123